.photo  {
    margin-bottom: 50px;
    border-radius: 25px;
    height: 415px;
    background-size: cover;
    background-blend-mode: darken;
}

.precedent, .suivant {
    margin-top: 10%;    
    position: absolute;
    width: 46px;
    height: 79 px;
    cursor: pointer;
}
.precedent {
    margin-left: 1.5%;
}
.navigation .suivant {
    margin-left: 86%;
}
.navigation p {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    padding-top: 20%;
}

@media (max-width:1370px) and (min-width:415px) {
    .precedent, .suivant {
        margin-top: 13%;    
    }
    .navigation .suivant {
        margin-left: 85%;
    }
    .navigation p {
        font-size: 18px;
        color: #ffffff;
        text-align: center;
        padding-top: 32%;
    }
}

@media screen and (max-width:414px) {
    .photo{
        width: 100%;
        height: 255px;
    }
    .navigation .suivant {
        margin-left: 82%;
    }
    .precedent {
        margin-left: 8px;
    }
    .precedent, .suivant {
        width: 12px;
        height: 20px;
        margin-top: 30%;
    }
    .navigation p {
        display: none;
    }
}
